html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow-x: hidden;
  background-color: #f2f2f2; }

body {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  overflow-x: hidden; }

.clock {
  position: absolute;
  width: 10em;
  background-color: rgb(167, 33, 33); /* Strap Color */
  height: 100%;
  margin: 0 auto;
  left: 0;
  right: 0; }

.clock-container {
  width: 20em;
  height: 20em;
  left: -6em;
  top: 50%;
  margin-top: -10em;
  background-color: #222 /* Face Color */;
  border-radius: 12em;
  position: relative;
  border: 1em solid rgb(207, 212, 217) /* Face Boder Color */;
 }
  .clock-container:after {
    content: "";
    height: 2em;
    width: 1em;
    background-color: hwb(210 81% 25%) /*Setting Switch Color*/;
    position: absolute;
    right: -2em;
    top: 50%;
    margin-top: -1em; }
  .clock-container .logo {
    position: absolute;
    top: 25%;
    text-align: center;
    color: #FFF;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 1; }
  .clock-container .chronos {
    width: 3em;
    height: 3em;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 3;
    border: 0.15em solid #777;
    border-radius: 3em;
    bottom: 3.5em; }
    .clock-container .chronos .notches {
      list-style: none;
      padding: 0;
      margin: 0 auto; }
      .clock-container .chronos .notches li {
        height: 3em;
        width: 0.1em;
        background-color: white s; }
    .clock-container .chronos:after {
      content: "";
      width: 2.5em;
      height: 2.5em;
      border-radius: 1.5em;
      background-color: #222;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 50%;
      margin-top: -1.25em;
      z-index: 3; }

    .clock-container .chronos .second-hand {
      z-index: 4;
      width: 3em;
      height: 3em;
      position: absolute;
      }

    .clock-container .chronos .second-hand:after {
      content: "";
      background-color: #fff;
      width: 0.1em;
      height: 1.25em;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: .25em;
    }

  .clock-container .notches {
    list-style: none;
    padding: 0;
    margin: 0 auto; }
    .clock-container .notches li {
      height: 20em;
      width: 0.2em;
      background-color: #ccc000;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0; }
      .clock-container .notches li:nth-child(2) {
        -webkit-transform: rotateZ(30deg);
        -moz-transform: rotateZ(30deg);
        -ms-transform: rotateZ(30deg);
        -o-transform: rotateZ(30deg);
        transform: rotateZ(30deg); }
      .clock-container .notches li:nth-child(3) {
        -webkit-transform: rotateZ(60deg);
        -moz-transform: rotateZ(60deg);
        -ms-transform: rotateZ(60deg);
        -o-transform: rotateZ(60deg);
        transform: rotateZ(60deg); }
      .clock-container .notches li:nth-child(4) {
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        transform: rotateZ(90deg); }
      .clock-container .notches li:nth-child(5) {
        -webkit-transform: rotateZ(120deg);
        -moz-transform: rotateZ(120deg);
        -ms-transform: rotateZ(120deg);
        -o-transform: rotateZ(120deg);
        transform: rotateZ(120deg); }
      .clock-container .notches li:nth-child(6) {
        -webkit-transform: rotateZ(150deg);
        -moz-transform: rotateZ(150deg);
        -ms-transform: rotateZ(150deg);
        -o-transform: rotateZ(150deg);
        transform: rotateZ(150deg); }
  .clock-container .hand {
    width: 20em;
    height: 20em;
    position: absolute; }
  .clock-container .second {
    z-index: 6; }
    .clock-container .second:after {
      content: "";
      background-color: #ccc000;
      width: 0.2em;
      height: 9.25em;
      margin-top: 1em;
      z-index: 3;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: .75em;}
  .clock-container .minute {
    z-index: 5;
  }
  .clock-container .minute:after {
    content: "";
    background-color: rgb(207, 212, 217);
    width: 0.4em;
    height: 9.0em;
    /* margin-top: 3em; */
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0.2em;
    top: 1.5em;
    border-radius: 5px;  
  }
      
  .clock-container .hour {
    z-index: 4;}
    .clock-container .hour:after {
      content: "";
      background-color: rgb(207, 212, 217);
      width: 0.8em;
      height: 5em;
      margin: 0 auto;
      left: 0;
      right: 0;
      margin-top: 5.25em;
      position: absolute;
      border-radius: 20px;
    }
  .clock-container .center-mask {
    width: 18em;
    height: 18em;
    background-color: inherit;
    border-radius: 9em;
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 1em; }
    .clock-container .center-mask:after {
      content: "";
      width: 2em;
      height: 2em;
      border-radius: 1.5em;
      background-color: rgb(0, 0, 0);
      border: 0.2em solid #ccc000;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: 50%;
      margin-top: -1em;
      z-index: 3; }
